@model TabloidMVC.Models.ViewModels.CommentCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container pt-5">
    <h2>Edit Comment</h2>

    <form asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="Subject"></label>
            <input asp-for="Subject" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button> |
        <a asp-action="Index" asp-route-postId="@Model.PostId">Cancel</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
